:root {
    --main_color: #FF8840;
    --main_color_light: 255, 136, 64;
    --grey: #F1F1F1;
}

.container form {
    height: 100%;
    width: 100%;
    flex-basis: 100%;
}

html {
    height: 100%;
    height: -webkit-fill-available;
}

.container .header {
    flex-basis: 100%;
    width: 100%;
}

.container .footer {
    flex-basis: 100%;
    transition-delay: 0.1s;
}

.header h2, .full h2 {
    text-align: center;
}

.container .header h2 {
    margin: 30px 0px;
}

.optional {
    flex-basis: 100%;
    font-size: 14px;
    margin: 8px 0px;
    text-align: center;
    position: relative;
}

    .optional:before {
        content: '';
        width: 50px;
        height: 1px;
        background-color: #D3D3D3;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        left: 25%;
        border-radius: 16px;
    }

    .optional:after {
        content: '';
        width: 50px;
        height: 1px;
        background-color: #D3D3D3;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        right: 25%;
        border-radius: 16px;
    }

.des-back {
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 20px;
    color: black;
/*    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;*/
    z-index: 9999;
    width: 24px;
    height: 24px;
}

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background-color: white
}
   
::-webkit-scrollbar-thumb {
    background: var(--main_color); 
}

.background {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    z-index: -9999;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    overflow-x: hidden;
}

body a,
div,
span,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html {
    overflow-x: hidden;
}

.intro-image {
    z-index: -1;
    position: absolute;
    margin-left: -5px;
    background-image: url("../images/IntroBack.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -170px;
    width: 521px;
    height: 455.6px;
}

.intro-main-image {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 140px;
}

.intro-container {
    display: block;
    max-width: 364px;
    border-radius: 10px;
}

.next-btn {
    position: relative;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    background-color: var(--main_color);
    border: 1px solid var(--main_color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}

.next-btn:hover {
    color: var(--main_color);
    background-color: rgba(255, 255, 255, 0);
}

.loading {
    display: none;
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99999;
}

    .loading .loading-box {
        position: fixed;
        inset: 0;
        margin: auto;
        width: 100px;
        height: 100px;
        background: white;
        border-radius: 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .loading span {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 4px solid rgba(var(--main_color_light), 0.5);
        border-top: 4px solid var(--main_color);
        animation: spin 2s linear infinite;
    }

.next-btn::after {
    position: absolute;
    content: "";
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 2px solid #FCC9AA;
    border-top: 2px solid var(--main_color);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.intro-content {
    margin: 25px;
    text-align: center;
}

.intro-content h1 {
    font-size: 24px;
    line-height: 32px;
}

.intro-content span {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.Note {
    display: block;
    margin-bottom: 15px;
    color: var(--main_color);
    font-weight: 400;
    font-size: 13px;
}

.service-container {
    display: block;
    min-width: 100%;
    margin: 0 -25%;
}

.service-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding: 0;
}

.service-view li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 10px 30px 0px #0000000D;
}

.service-view li span {
    text-align: center;
    width: 100%;
}

.service-view li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
    font-size: 15px;
    flex-wrap: wrap;
    flex-basis: calc(100% / 5);
}

.service-title {
    font-weight: 600;
    margin-top: 25px;
}

.service-title i {
    font-size: 20px;
    color: var(--main_color);
    padding: 0px 10px 0px 0px;
}

.sign {
    height: calc(50% - 45px) !important;
}

.Logo {
    display: block;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    max-height: auto;
    max-width: 100px;
    overflow: hidden;
}

@media (max-height: 800px) and (max-width: 500px) {
    .main-image {
        height: 200px !important;
    }

    .main-image img {
        height: initial !important;
        max-height: 200px !important;
    }
}

@media (max-width: 500px) {
    body {
        align-items: flex-start;
        min-height: 100%;
    }

    .des-btn {
        margin-top: 5px !important;
    }

    .intro-content > div > span {
        width: 100%;
    }

    .container .footer {
        width: 100%;
        max-width: 320px;
        position: fixed;
        bottom: 0;
        padding-bottom: 20px;
        background: white;
    }

    .action {
        margin-top: 5px;
    }

    .main-image {
        height: 200px !important;
        max-width: 100vw !important;
        box-sizing: border-box;
    }

        .main-image img {
            height: fit-content !important;
            max-width: 100vw !important;
        }

    .err-content {
        width: auto !important;
        transform: translate(0%) !important;
    }

    .service-container {
        margin: auto;
        min-width: auto;
        width: 90%;
    }

    .service-view {
        justify-content: space-evenly;
        row-gap: 10px;
    }

    .service-view li {
        flex: 0 1 auto;
        flex-basis: calc(100% / 3);
    }

    .container {
        position: static !important;
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        align-content: space-between;
        box-sizing: border-box;
        height: 100%;
        height: -webkit-fill-available;
        border-radius: none;
        padding: 20px 0px !important;
        padding-bottom: 0px !important;
        box-shadow: none !important;
        position: relative;
    }

        .container form {
            position: static !important;
            display: flex !important;
            justify-content: center;
            flex-wrap: wrap;
            align-content: space-between;
            box-sizing: border-box;
        }

    html:has(.full) > body {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        min-height: 100%;
    }

    html:has(.full) .container {
        padding: 0 !important;
        align-content: center;
    }

    .full {
        margin: auto;
    }

    html:has(.full) form {
        align-content: center;
    }

    .background {
        display: none;
    }

    .err-content {
        word-break: break-all;
    }
}

@media (max-width: 330px) {
    .service-view li {
        flex: 1 1 0;
        flex-basis: calc(100% / 3);
    }

    .container .footer {
        flex-basis: 90%;
        width: 90vw;
    }

    .container .header {
        flex-basis: 90%;
        width: 90vw;
    }

    .des-back {
        top: 10px;
        left: 15px;
    }

    .container .full {
        flex-basis: 90%;
        width: 90%;
    }

    .des-login-title::after {
        width: 20% !important;
    }

    .des-login-title::before {
        width: 20% !important;
    }

    .intro-container {
        overflow: hidden;
        max-height: fit-content !important;
    }

    .intro-container {
        width: 100vw !important;
    }

    .err-content {
        word-break: break-all;
    }
}

@media (max-width: 320px) {
    .service-view li {
        flex: 1 1 0;
        flex-basis: calc(100% / 2);
    }

    .service-container {
        margin: auto;
        width: 100%;
    }

    .des-login-title::after {
        width: 14% !important;
    }

    .des-login-title::before {
        width: 14% !important;
    }

    .des-btn.flexible i {
        display: none;
    }
}

@media (max-width: 270px) {
    .service-view li {
        flex: 1 1 0;
        flex-basis: 100%;
    }

    .des-login-title::after {
        display: none;
    }

    .des-login-title::before {
        display: none;
    }
}

.service-view li span {
    line-height: 32px;
}

.service-view img {
    height: 70%;
}

.clear-input {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    color: white;
    border-radius: 50%;
    background-color: #A7A7A7;
    cursor: pointer;
}

.eye-input {
    display: none;
    align-items: center;
    justify-content: right;
    font-size: 17px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    color: #A7A7A7;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    display: block;
    position: relative;
    width: 320px;
    border-radius: 16px;
    padding: 45px 120px;
    min-height: 320px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}

.des-input-title {
    letter-spacing: 1px;
    color: #000000;
    font-weight: 800;
    font-size: 12px;
    display: block;
}

.des-input-title:first-of-type {
    margin-top: 0;
}

.des-input {
    width: 100%;
    font-size: 16px;
    padding: 0;
    height: 50px;
    border: none;
    background-color: #00000000;
    border-bottom: 1px solid var(--grey);
    font-weight: 700 !important;
    transition: 0.3s !important;
    -webkit-transition: .3s !important;
    -moz-transition: .3s !important;
    transition-delay: 0.15s !important;
    -webkit-transition-delay: 0.15s !important;
    -moz-transition-delay: 0.15s !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.des-input:focus+.input-action,
.des-input:focus {
    border-bottom: 1px solid var(--main_color);
}

input[type=text],
input[type=password],
input[type=number] {
    border-radius: 0px;
    outline: none;
}

.top-title {
    margin: 0px 20px 20px 20px;
    text-align: center;
}

    .top-title img {
        max-width: 95px;
        max-height: 95px;
        width: 95px;
        padding: 25px;
        display: block;
        margin: auto;
    }

.top-title h3 {
    margin: 15px;
    font-weight: 800;
}

.top-title span {
    line-height: 1.5em;
    font-size: 13px;
}

.des-input-code {
    color: var(--main_color);
    background-color: #00000000;
    font-weight: 500;
    font-size: 24px;
    padding: 0;
    height: 30px;
    padding-bottom: 5px;
    margin: 15px 10px 0px 0px;
    width: 15%;
    border: 0;
    border-bottom: 1px solid #CCCFD7;
    text-align: center;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    caret-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.des-input-code:focus {
    animation: blink .5s infinite;
}

@keyframes blink {
    50% {
        border-bottom: 1px solid black;
    }
}

h1 {
    margin: 20px 0px 20px 0px;
    color: #1E293B;
    font-size: 32px;
    font-weight: 800;
}

.des-link {
    color: var(--main_color);
    text-align: center;
}

.des-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 15px;
    padding: 8px;
    background-color: var(--main_color);
    color: white;
    border-radius: 8px;
    border: 1px solid var(--main_color);
    font-weight: 700;
    min-height: 30px;
    transition: margin 0s, background-color .3s, color .3s;
    -webkit-transition: margin 0s, background-color .3s, color .3s;
    -moz-transition: margin 0s, background-color .3s, color .3s;
}

.des-btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 15px;
    padding: 8px;
    color: white;
    border-radius: 8px;
    border: 1px solid #A7A7A7;
    min-height: 30px;
    font-weight: 700;
    transition: margin 0s, background-color .3s, color .3s;
    -webkit-transition: margin 0s, background-color .3s, color .3s;
    -moz-transition: margin 0s, background-color .3s, color .3s;
    pointer-events: none;
    background-color: #A7A7A7;
    user-select: none;
}
.des-btn-block-not-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 15px;
    padding: 8px;
    color: white;
    border-radius: 8px;
    border: 1px solid #A7A7A7;
    min-height: 30px;
    font-weight: 700;
    transition: margin 0s, background-color .3s, color .3s;
    -webkit-transition: margin 0s, background-color .3s, color .3s;
    -moz-transition: margin 0s, background-color .3s, color .3s;
    pointer-events: none;
    background-color: #A7A7A7;
    user-select: none;
}

.des-btn:hover {
    color: var(--main_color);
    background-color: rgba(255, 255, 255, 0);
}

.des-login-title {
    color: #4F4F4F;
    position: relative;
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 15px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.des-login-title span {
    padding-left: 3px;
}

.des-login-title::after {
    content: "";
    position: absolute;
    right: 0;
    width: 23%;
    height: 1px;
    border-radius: 16px;
    background-color: var(--grey);
    margin-right: 20px;
}

.des-login-title::before {
    content: "";
    position: absolute;
    left: 0;
    width: 23%;
    height: 1px;
    border-radius: 16px;
    background-color: var(--grey);
    margin-left: 20px;
}

.des-login-select {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.des-icon {
    width: 50px;
    text-align: center;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    max-height: 210px;
    min-height: 180px;
}

.main-image img {
    height: 25vh;
    min-height: 180px;
    max-height: 210px;
}

.des-error {
    display: none;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #FF0000;
    padding: 0px 0px 15px 0px;
    line-height: 1.25em;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 10px 0px;
}

.des-forget {
    display: flex;
    align-items: center;
    height: 35px;
    margin-bottom: 20px;
    justify-content: right;
}

.input-action {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition-delay: 0.15s;
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    height: 50px;
    padding: 0px 0px 0px 10px;
    border-bottom: 1px solid var(--grey);
}

.otp .des-input-code:first-child {
    margin-left: 15px;
}

.otp .des-input-code:last-child {
    margin-right: 15px;
}

.context {
    color: #666D7C;
    line-height: 21px;
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.context-btn {
    display: none;
    font-size: 14px;
    margin-top: 20px;
    color: var(--main_color);
    text-align: center;
}

.context-btn i {
    padding-left: 5px;
}

.context.error {
    color: #FF0000;
}

.context.error.active {
    display: block !important;
}

.des-modal {
    position: absolute;
    display: block;
    width: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.des-modal-title {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 20px;
}

.des-modal-title a {
    float: right;
    font-size: 18px;

}

.des-modal-title a i {
    padding: 0;
    color: #828282;
}

.des-modal-context {
    margin-top: 15px;
    line-height: 22px;
    font-size: 14px;
}

.des-modal-action {
    margin-top: 15px;
    display: flex;
    font-weight: 500;
    font-size: 14px;
}

.des-modal-action a {
    border-radius: 0.5em;
    text-align: center;
    width: 50%;
    margin: 5px;
    padding: 15px;
}

.des-modal-action a:first-child {
    margin-left: 0px;
}

.des-modal-action a:last-child {
    margin-right: 0px;
}

.action {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    flex-basis: 100%;
}

.action a {
    border-radius: 0.5em;
    text-align: center;
    width: 50%;
    padding: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}

.action a:first-child {
    margin: 5px 5px 5px 0px;
}

.action a:last-child {
    margin: 5px 0px 5px 5px;
}

.description.small {
    font-size: 14px;
    color: #767676;
}

.description.bold {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.checkbox.square>.checkmark {
    border-radius: 3px !important;
}

.modal-cancel {
    color: #767676;
    background-color: #E8E8E8;
    border: 1px solid #E8E8E8;
}

.modal-cancel:hover {
    background-color: white;
    border: 1px solid #c2c2c2;
}

.modal-accept {
    color: white;
    background-color: var(--main_color);
    border: 1px solid var(--main_color);
}

.modal-accept:hover {
    background-color: white;
    color: var(--main_color);
    border: 1px solid var(--main_color);
}

.des-modal-title i {
    padding-right: 10px;
    color: var(--main_color);
}

.des-modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-22px, -20px);
    z-index: 9999;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.200);
}

.context i {
    font-size: 15px;
    padding-right: 8px;
}

.context {
    display: none;
}

.context.success {
    color: #52B848;
}

.context.success.active {
    display: block !important;
}

.list-items .item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;

}

.list-items .item i {
    font-size: 20px;
    color: var(--main_color);
    margin-right: 8px;
}

.list-items .item span {
    color: #767676;
}

.context.active {
    display: block !important;
}

.context span {
    color: var(--main_color);
}

.input-error {
    display: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 12px;
    height: 20px;
    width: 20px;
    color: white;
    border-radius: 50%;
    background-color: #FF0000;
}

.tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 10px;
    height: 34px;
    border: 3px solid #F8F8F8;
    position: relative;
}

.description {
    font-size: 16px;
    line-height: 24px;
}

.fade-in {
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

.slide-in-left {
    animation: slide-in-left 0.5s;
    animation-fill-mode: forwards;
}

.slide-out-left {
    animation: slide-out-left 0.5s;
    animation-fill-mode: forwards;
}

.slide-out-right {
    animation: slide-out-right 0.5s;
    animation-fill-mode: forwards;
}

.slide-in-right {
    animation: slide-in-right 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-in-left {
    0% {
        transform: translate(-100%, 0%);
        opacity: 0;
    }

    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes slide-out-left {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    100% {
        transform: translate(-100%, 0%);
        opacity: 0;
    }
}

@keyframes slide-out-right {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    100% {
        transform: translate(100%, 0%);
        opacity: 0;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translate(100%, 0%);
        opacity: 0;
    }

    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tab-container label {
    font-size: 14px;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    z-index: 1;
}

.success {
    text-align: center;
}

.success span {
    line-height: 24px;
}

.failed {
    text-align: left;
}

.failed span {
    line-height: 24px;
    margin-bottom: 20px;
    display: block;
}

.err {
    text-align: center;
}

.err-content {
    width: 500px;
    transform: translate(-18%);
    padding: 0px 0px 20px 0px;
    line-height: 1.5em;
}

.tab-container a {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main_color);
}

.container input[type="radio"] {
    display: none;
}

.tab-container .active {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    border-radius: 8px;
    background-color: var(--main_color);
    position: absolute;
    width: 50%;
    height: 100%;
}

.container :checked+label.des-tab-title a {
    color: white;
}

.container :first-child:checked~.active {
    left: 0;
}

.container :checked~.active {
    left: 50%;
}

/* The container */
.checkbox {
    margin-top: 20px;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    line-height: 21px;
    color: #4F4F4F;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}

/* On mouse-over, add a grey background color */
.checkmark:hover {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: var(--main_color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 8px;
    top: 5px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.select-box {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    border: 1px solid #F4F4F4;
    height: 80px;
    background-color: #F4F4F4;
    border-radius: 1em;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
}

/* The container */
.radio {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 60px;
    margin-bottom: 12px;
    height: 100%;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-wrap: wrap;
}

.select-box-text {
    word-break: break-all;
}

.select-box-text span {
    line-height: 20px;
}

.select-box-text span:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    color: #767676;
    font-size: 14px;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.selectmark {
    position: absolute;
    left: 20px;
    height: 22px;
    width: 22px;
    border: 2px solid #DBDBDB;
    background-color: white;
    border-radius: 50%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    box-sizing: border-box;
}

/* On mouse-over, add a grey background color */
.radio:hover input~.selectmark {
    background-color: rgb(255, 255, 255);
}

/* When the radio button is checked, add a blue background */
.radio input:checked~.selectmark {
    background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.selectmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked~.selectmark:after {
    display: block;
    animation: Popup .3s;
}

@keyframes Popup {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.radio input:checked~.selectmark {
    border: 2px solid var(--main_color);
}

/* Style the indicator (dot/circle) */
.radio .selectmark:after {
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--main_color);
}

.password {
    font-family: 'text-security-disc';
    -webkit-text-security: disc;
    -moz-text-security: disc;
}

input::-webkit-input-placeholder {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

input:-ms-input-placeholder {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

input:-moz-placeholder {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

input::placeholder {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.account-container {
    width: 100vw;
    height: fit-content;
    max-width: 60vw;
    min-height: 590px;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    align-content: flex-start;
    position: relative;
    background: white;
    z-index: 9999;
    letter-spacing: 0.3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.account-container .logout {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 11px;
    color: white;
    transition: .3s;
    background-color: var(--main_color);
    border: 1px solid var(--main_color);
    border-radius: 50%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    z-index: 9999;
    width: 40px;
    height: 40px;
}

    .account-container .logout:hover {
        background-color: white;
        color: var(--main_color);
    }

    /*    .account-container .logout i {
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
    }*/
    /*    .account-container .logout:focus > i {
        transform: rotate(90deg);
    }*/

    @supports (backdrop-filter: none) {
        .account-container {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
    }
}

.account-image {
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 90px;
    border-radius: 15px;
    background: transparent;
}

.account-image img {
    width: 100px;
    max-height: 50px;
    padding: 12px 14px;
}

.account-menu {
    text-align: center;
    width: 100%;
}

.phone {
    color: var(--main_color);
}

.action-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 298px;
    gap: 16px;
}

.action-menu .action-box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    height: 140px;
    max-width: 140px;
    max-height: 140px;
    flex-basis: 50%;
    text-align: center;
    border-radius: 24px;
    text-decoration: none;
    background-color: white;
}

.action-menu a .box-title {
    color: black;
    display: block;
    margin: 16px 0px 20px 0px;
    font-size: 13px;
    font-weight: bold;
}

.action-menu img {
    max-width: 43px;
    max-height: 43px;
}

.account-menu h2 {
    margin: 30px 20px;
    line-height: 1.25em;
}

.action-menu .box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 490px;
    min-height: 398px;
    border-radius: 24px;
    margin-bottom: 30px;
    position: relative;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.list-user-login {
    border-radius: 10px;
    border: 1px solid var(--main_color);
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.list-user-login .title {
    content: '';
    position: absolute;
    font-size: 13px;
    top: 0;
    left: 0;
    background-color: white;
    padding: 0px 5px;
    border-radius: 16px;
    font-weight: bold;
    transform: translate(15%, -58%);
}

.list-user-login .item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 13px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    letter-spacing: 0.3px;
    margin-top: 5px;
    word-break: break-all;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}

.list-user-login .item.add {
    background-color: rgba(var(--main_color_light), 0.1);
    color: var(--main_color);
    font-weight: bold;
    letter-spacing: 0.3px;
    word-break: normal;
    position: relative;
    overflow: hidden;
}

.list-user-login .item.add i {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}

.list-user-login .item.add:hover i,
.list-user-login .item.add:hover {
    color: white !important;
}

.list-user-login .item.add .avatar {
    background-color: transparent;
}

.list-user-login .item.add:hover {
    background-color: rgba(var(--main_color_light), 0.1);
}

.list-user-login .item .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main_color);
    min-height: 36px;
    min-width: 36px;
    font-size: 16px;
    border-radius: 50%;
    background-color: rgba(var(--main_color_light), 0.2);
}

.des-btn.flexible {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    flex-basis: 100%;
}

.des-btn.flexible span {
    margin: auto;
    text-align: center;
    flex-basis: 70%;
}

.des-btn.flexible .highlight {
    margin-left: 1px;
    padding: 2px 4px;
    font-weight: bold;
    background-color: white;
    color: var(--main_color);
    border-radius: 5px;
    transition: margin 0s, background-color .3s, color .3s;
    -webkit-transition: margin 0s, background-color .3s, color .3s;
    -moz-transition: margin 0s, background-color .3s, color .3s;
}

.des-btn.flexible:hover .highlight {
    background-color: var(--main_color);
    color: white;
}

.des-btn.flexible i {
    position: absolute;
    left: 15px;
}

.list-user-login .item:nth-of-type(1) {
    margin-top: 10px;
}

.list-user-login .item:last-child {
    margin-bottom: 10px;
}

.list-user-login .item:hover {
    background-color: var(--grey);
}

.action-menu .box .box-title {
    color: black;
    display: block;
    margin: 20px 10px 10px 10px;
    line-height: 1.25em;
    flex-basis: 100%;
    font-size: 18px;
    font-weight: bold;
}

.menu-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 55px;
    flex-basis: 100%;
    gap: 10px;
}

.menu-btn a {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-basis: 100%;
    font-size: 14px;
    max-width: 70%;
    margin: auto;
    gap: 10px;
    text-align: left;
}

.menu-btn a img {
    max-width: 24px;
    max-height: 24px;
}

.account-back {
    height: 20px;
    width: 20px;
    color: black;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 25px;
    top: 25px;
}

.selection>select {
    display: none !important;
}

.selection>.selection-input {
    display: flex;
    position: relative;
    justify-content: left;
    padding: 10px;
    padding-top: 11px;
    padding-bottom: 12px;
    width: 100%;
    cursor: pointer;
}

.selection>.selection-input>i {
    transition: .3s;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
}

.selection>.selection-input>span {
    text-overflow: ellipsis;
}

.selection {
    position: relative;
}

.selection>.selection-list {
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    width: 100%;
    z-index: 9999;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.selection>.selection-list>div {
    cursor: pointer;
    border-bottom: 1px solid var(--grey);
    padding: 11px;
    transition: .3s;
    text-align: left;
}

.selection>.selection-list>div:last-child {
    border-bottom: none;
}

.selection>.selection-list>div:hover {
    background-color: var(--grey);
}

.date-picker>input {
    cursor: pointer;
    position: relative;
    z-index: 1;
    text-overflow: ellipsis;
}

.date-picker>input:read-only {
    color: #000000 !important;
}

.date-picker i {
    position: absolute;
    right: 0px;
    padding: 10px;
    padding-bottom: 10px;
    z-index: 0;
}

.menu-info {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu-info .input {
    display: none;
    flex-basis: 50%;
    position: relative;
    font-weight: bold;
    flex-basis: 50% !important;
    flex-grow: 1;
    background-color: #f1f1f1;
    border-radius: 8px;
    height: fit-content !important;
    font-size: 15px !important;
}

.menu-info .case {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 35%;
    height: 45px;
    text-align: left;
}

.menu-info .info {
    font-weight: bold;
    flex-basis: 65%;
    text-align: right;
    color: var(--main_color);
}

.menu-info input {
    font-weight: bold;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 15px;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif !important;
}

.menu-info input:focus {
    outline: none;
}

.menu-info .des-error {
    flex-basis: 100%;
    margin-left: calc(30% + 30px);
    margin-right: 10px;
    padding: 5px 0px;
    text-align: left;
}

.btn-action {
    flex-basis: 95%;
    justify-content: flex-end;
    margin: 20px auto 20px auto;
    gap: 10px;
    display: none;
}

.btn-action.active {
    display: flex;
}

.btn-action .cancel {
    background-color: gray;
}

.btn-action a {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    min-width: 60px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    padding: 10px;
}

.manage-title {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    height: fit-content;
}

.manage-title img {
    flex-basis: 100%;
    margin: 10px 0px;
}

.manage-title span {
    flex-basis: 100%;
    margin: 10px 0px;
    font-weight: bold;
}

.device-list {
    flex-basis: 95%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 2%;
    margin-bottom: 30px;
}

.device-no {
    display: block;
    flex-basis: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.device-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex-basis: calc((98% / 2));
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.device-container .header {
    position: relative;
    flex-basis: 100%;
    height: fit-content;
    text-align: left;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(var(--main_color_light), 0.15);
    margin-bottom: 5px;
}

.device-container .header::after {
    width: 40%;
    height: 1px;
    background-color: var(--main_color);
    content: '';
    display: block;
}

.device-container .header>div {
    display: block;
    font-size: 14px;
    padding: 15px 10px 10px 10px;
    flex-basis: 100%;
    color: var(--main_color);
}

.device-container .header>div>i {
    padding-right: 5px;
}

.device-container .header .dropdown {
    float: right;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    margin: auto;
    color: var(--main_color);
    position: relative;
    cursor: pointer;
}


.dropdown-content {
    position: absolute;
    display: none;
    height: fit-content;
    top: calc(100% + 5px);
    right: 0;
    background-color: white;
    width: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 8px;
    font-size: 13px;
    z-index: 9999;
}

.dropdown-content a {
    padding: 15px;
    color: black;
    flex-basis: 100%;
    border-bottom: 1px solid var(--grey);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: var(--grey);
}

.device-container .environment {
    flex-basis: 36%;
    padding: 2%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-size: 13px;
}

.device-container .environment img {
    height: 25px;
    width: auto;
}

.device-container .environment div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.device-container .environment-info .item {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    line-height: 1.5em;
    border-bottom: 2px solid var(--grey);
}

.device-container .environment-info .item:nth-last-child(1) {
    border-bottom: none;
}

.device-container .environment-info .item div,
.device-container .environment-info .item span {
    flex-basis: 100%;
}

.device-container .environment-info .item div img {
    height: 25px;
    width: auto;
}

.device-container .environment i {
    font-size: 25px;
    color: var(--main_color);
}

.device-container .environment-info {
    flex-basis: 56%;
    padding: 2%;
    text-align: left;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    font-size: 13px;
}


.device-container .environment-info div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-nav {
    position: fixed;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: white;
    z-index: 999999;
    top: 0;
    left: 0;
}

    .top-nav .logout a {
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        color: var(--main_color);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(var(--main_color_light), 0.2);
        border-radius: 8px;
        height: 45px;
        width: 45px;
        z-index: 1;
        position: relative;
        overflow: hidden;
    }

.top-nav img {
    width: 80px;
    max-height: 50px;
    margin-right: auto;
    margin-left: 15px;
}

.top-nav .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 8px;
    font-size: 14px;
    margin-right: 15px;
    margin-left: auto;
    gap: 20px;
    position: relative;
    letter-spacing: 0.5px;
}

/*.top-nav .logout::after {
    content: '';
    width: 1px;
    height: 70%;
    position: absolute;
    right: 42%;
    background-color: rgba(0, 0, 0, 0.1);
}*/

    .top-nav .logout .dropdown {
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        color: var(--main_color);
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        background-color: rgba(var(--main_color_light), 0.2);
        border-radius: 8px;
        height: 45px;
        width: 45px;
        overflow: hidden;
        font-size: 16px;
    }
        .top-nav .logout .dropdown > i {
            transition: .3s;
        }

        .top-nav .logout .dropdown:focus > i {
            transform: rotate(90deg);
        }

        .light-btn-animate::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-color: rgba(var(--main_color_light), 1);
            transform: translate(0%, 100%);
            z-index: -1;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
        }

.light-btn-animate:hover::before {
    transform: translate(0%, 0%) scale(2);
}

.light-btn-animate:hover {
    color: white !important;
}


@media (min-width: 625px) {
    .account-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media (max-width: 1500px) {
    .device-container {
        flex-basis: calc((98% / 2));
    }
}

@media (max-width: 1200px) {
    .account-container {
        max-width: 80vw;
    }
}

@media (max-width: 900px) {
    .account-container {
        max-width: 90vw;
    }
}

@media (max-width: 625px) {
    .device-container {
        flex-basis: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .container {
        box-shadow: none;
        padding: 0;
        position: static;
        overflow: visible;
        margin: 0;
    }

    .background {
        display: none;
    }

    .top-nav {
        display: none;
    }

    .device-no {
        text-align: center;
    }

    .device-list {
        flex-basis: 95%;
    }

    .account-container {
        width: 100vw;
        min-height: 100%;
        max-width: 100%;
        box-shadow: none;
        align-content: space-around;
        border-radius: 0;
        background-color: white;
        background: rgba(255, 255, 255, 1);
        border: none;
    }

    .account-container .logout {
        display: -webkit-flex;
    }

    .background {
        background-image: none;
    }

    .action-menu {
        flex-basis: 90%;
        width: 90%;
        justify-self: center;
        margin: auto;
    }

    .action-menu .box {
        margin: auto;
        flex-basis: 100%;
    }

    .btn-action {
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-end;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .menu-info .info {
        height: 30px !important;
        flex-basis: 100%;
        text-align: left;
        overflow-wrap: anywhere;
    }

    .action-menu .action-box {
        flex-basis: 100%;
        max-width: 140px;
        max-height: 140px;
        border-radius: 24px;
    }

    .menu-info .case {
        height: 35px;
        flex-basis: 100%;
    }

    .menu-btn {
        margin-bottom: 16px;
    }

    .account-image {
        margin-bottom: 30px;
        margin-top: 60px;
    }
}

@media (max-width: 390px) {

    .menu-browser-list,
    .menu-device-list {
        width: 100%;
        flex-basis: 100%;
    }
}

.browser-image {
    height: 25px;
    width: 25px;
}

.watch-icon {
    background: url('../images/smartwatch.ico');
    background-size: 23px;
    height: 20px;
    width: 20px;
    /* Other styles here */
}

.visible {
    visibility: visible
}

.invisible {
    visibility: hidden
}

input:read-only {
    color: grey;
}

.head {
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.foot {
    position: relative;
    height: 20vh;
    background-color: var(--main_color);
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}